.register-main-container {
    font-family: "Arial", sans-serif;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 130vh;
    background-image: url("/images/bg-register.jpg");
    background-size: cover;
    background-position: center;
    /* backdrop-filter: blur(1.5px); */
}

#register-container {
    padding: 0px 40px;
    margin-top: 150px;
}

/* .register-container h2 {
    text-align: center;
    color: var(--title-color);
    margin-bottom: 24px;
} */

.register-form {
    display: flex;
    flex-direction: column;
}

.input-container {
    position: relative;
    margin-bottom: 16px;
}

.input-container input,
.gender {
    width: 100%;
    padding: 10px;
    border: 2px solid rgba(218, 165, 32, 0.5);
    /* border-radius: 5px; */
    color: var(--title-color);
    outline: none;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 40px;
}
.gender {
    height: 40px;
}

.input-container input::placeholder {
    color: var(--title-color);
}
.input-box input::placeholder {
    color: var(--title-color);
}
.input-box input {
    color: var(--title-color);
}
.register-form .btn {
    border-radius: 40px;
    margin-bottom: 15px;
}
