:root {
    --bg-color: #f4a460;
    --text-color: #ffdead;
    --icons-color: #daa520;
    --btn-color: #e9967a;
    --title-color: #8b4513;
/* rgba */
    --bg-color-rgba: rgba(244, 164, 96, 0.8);
    --text-color-rgba: rgba(255, 222, 173, 0.3);
    --icons-color-rgba: rgba(218, 165, 32, 0.6);
    --btn-color-rgba: rgba(233, 150, 122, 0.9);
    --title-color-rgba: rgba(139, 69, 19, 0.6);
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html,
body {
    font-size: 15px;
    width: 100%;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.logout {
    background: rgba(218, 165, 32, 0);
    border: none;
    color: var(--text-color);
    font-size: 1.2em;
    padding-left: 10px;
    padding-top: 12px;
}
.logout i {
    background: rgba(218, 165, 32, 0);
    color: var(--text-color);
}
.notifications-mail .count {
    position: absolute;
    top: 18px;
    right: 18px;
    margin-right: -15px;
    margin-top: -20px;
    font-size: 13px;
    width: 24px;
    height: 24px;
    line-height: 24px;
    border-radius: 50%;
    display: block;
    text-align: center;
    background: var(--text-color);
    color: var(--title-color);
    transition: 0.2s all ease-in-out;
}

a.site-cart {
    display: block;
    position: relative;
}

/* .header_top_menu{
	background:var(--bg-color);
	position:relative;
} */

/* header css */
.header_top_menu .call_us_text a {
    color: var(--text-color);
    font-size: 15px;
    margin-left: 15px;
    padding: 5px;
    display: inline-block;
}

.head_top_social a {
    color: var(--text-color);
    padding: 5px;
    display: inline-block;
    font-size: 1.7rem;
}

.main_menu_bg {
    background: rgba(50, 50, 50, 0.8);
    height: 80px;
    position: relative;
}
.navbar-default {
    background-color: transparent;
    border-color: transparent;
}
.container-fluid {
    margin-top: 15px;
}

/* .main_menu_bg .navbar {
    margin-bottom: 0px;
} */

.navbar-default .navbar-nav > li > a {
    color: var(--text-color);
    font-size: 1.5em;
}
.logo {
    height: 140px;
    width: 140px;
    float: left;
    position: absolute;
    top: -30px;
    left: -50px;
}
.fa-solid {
    color: var(--title-color);
}

ul.navbar-right {
    display: flex;
    flex-direction: row;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: var(--title-color);
}

/* slider section */

.slider {
    background: url(/images/bg/bg9.jpg) center center no-repeat;
    background-size: cover;
    background-position: center;
}

.main_slider .main_slider_content h1 {
    font-size: 4rem;
    color: var(--text-color);
    line-height: 6rem;
    margin: 0px 0px 30px 0px;
}
.main_slider_content {
    padding: 150px 0px 150px 0px;
    width: 70%;
    margin: 0 auto;
    color: var(--text-color);
    font-size: 1.4rem;
    font-family: "Pacifico",sans-serif;
}

.slider_overlay {
    background: rgba(0,0,0,0.6);
    width: 100%;
    top: 0;
    left: 0;
}



/* general styles */

/* buttons */
 .btn-btn {
    font-size: 17px;
    transition: ease-in all 0.5s;
    background-color: transparent;
    text-transform: uppercase;
    font-weight: 500;
    border: var(--title-color) solid 3px;
    color: var(--text-color);
    padding: 8px 0px;
    margin: 0 auto;
    max-width: 180px;
    width: 100%;
    display: block;
    border-radius: 30px;
    margin-top: 30px;
}

 .btn-btn:hover {
    background-color:var(--icons-color);
    transition: ease-in all 0.5s;
    color: white;
}

/* responsive header */
@media screen and (max-width: 1030px) {
    #bs-example-navbar-collapse-1 > ul > li:nth-child(3),
    #bs-example-navbar-collapse-1 > ul > li:nth-child(5)
    {
        display: none !important;
    }
}
/* todo: because of bootstrap css i couldnt fix the menu of header.... in here collapse empeche my css */

@media screen and (max-width: 770px) {

    #bs-example-navbar-collapse-1 > ul > li{
        display:block !important;
    }
    #home > div > div > div > nav > div{
        display:block !important; 
    }
    
}

