.card_recipe {
    position: relative;
    /* background: url("/images/bg/bg6.jpg"); */
    background-position: center;
    background-size: cover;
    z-index: 1;
}

.card_recipe::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: inherit;
    filter: blur(2.8px);
    z-index: -1;
}
.main_card_recipe_content {
    display: flex;
    gap: 3rem;
    justify-content: center;
    align-items: center;
    flex-flow:wrap;
}
