:root {
    --bg-color: #f4a460;
    --text-color: #ffdead;
    --icons-color: #daa520;
    --btn-color: #e9967a;
    --title-color: #8b4513;
}

.wrapper {
    display: flex;
}

.admin-content {
    flex-grow: 1;
    padding: 0px;
    background-color: var(--text-color);
}

.admin-dashboard-sidebar {
    background-color: var(--text-color);
    /* height: 100vh; */
    width: 230px;
}

.main-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    min-height: 100%;
    width: 240px;
    z-index: 810;
    background: var(--title-color);
    padding-top: 50px;
}

.user-panel {
    /* background: var(--icons-color);  */
    padding: 10px;
    margin-bottom: 20px;
}

.user-panel img {
    width: 45px;
    height: 45px;
}

.user-panel .info {
    padding-left: 55px;
    color: var(--icons-color);
}

.sidebar-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.sidebar-form {
    margin-bottom: 15px;
}


.sidebar-menu .header {
    padding: 10px 5px;
    font-size: 18px;
    color: var(--icons-color);
    /* background: var(--btn-color);  */
    text-align: center;
    font-weight: 900;
}

.sidebar-menu li a {
    padding: 12px 5px 12px 15px;
    display: block;
    color: var(--text-color);
    font-size: 14px;
    transition: background-color 0.3s, color 0.3s;
    font-size: 1.2em;
}

.sidebar-menu li a:hover {
    text-decoration: none;
    background: var(--title-color);
    color: var(--text-color);
}

.sidebar-menu li a .fa {
    width: 20px;
    color: var(--icons-color);
}
/*admin-homepage dashboard-cards css */
.dashboard-cards-container {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.card-title h5{

}
#admin-user-management-btn{
    width: 120px;
    height: 40px;
    text-align: center;
    color: var(--title-color);
    background-color: var(--text-color);
    text-decoration: none;
}
.adminpage-cards:hover {
    transform: scale(1.1);
}
.adminpage-cards {
    box-shadow: 10px 10px 10px var(--bg-color);
    height: 200px;
    padding: 10px;
    border-radius: 10px;
}
.management{
color:var(--icons-color)
}
.card-users {
    background: url(/images/admin/users2.jpg);
    background-position: center;
    background-size: cover;
}
.card-review {
    background: url(/images/admin/review.jpg);
    background-position: center;
    background-size: cover;
}
.card-recipe {
    background: url(/images/admin/recipes.jpg);
    background-position: center;
    background-size: cover;
}
.card-body {
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
    align-items: center;
    color: var(--title-color);
    font-size: 1.4em;
}
.btn {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: var(--bg-color);
    color: var(--title-color);
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: var(--title-color);
    color: var(--text-color);
}

    .sidebar-menu .treeview-menu li a::before {
        content: "• ";
        color: var(--text-color); 
        margin-right: 5px; 
    }
    .main-sidebar {
        /* position: fixed; */
        top: 0;
        left: -230px;
        transition: left 0.3s;
    }
 
    
@media (min-width: 720px) {
    .main-sidebar {
        position: fixed;
        top: 0;
        left: 0;
        transition: left 0.3s; 
    }

    .admin-content {
        margin-left: 30px; 
        overflow-x: auto; 
    }
}
@media (min-width: 942px) {
    .main-sidebar {
        position: fixed;
        top: 0;
        left: 0;
        width: 240px;
    }

    .admin-content {
        margin-left: 0px;
        padding-left:30px;
        overflow-x: auto; 
     height: 100vh;
    }

}


